body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18;
    color: #333;
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
}
main {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.greeting {
    float: left;
    width: 500px;
    margin: 50px 100px;
}
h1 {
    font-family: 'Pushster', cursive;
    font-size: 80px;
}
.mainPhoto {
    width: 500px;
    height: 500px;
}
.nav {
    text-align: center;
    margin: 50px;
}
a {
    margin: 0 100px;
    text-decoration: none;
    font-size: 20px;
    color: #333;

}
.aboutMe {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
p {
    font-family: 'Pushster', cursive;
    font-size: 16px;
}
.skills {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.reducedImages {
    width: 250px;
    height: 250px;
    padding: 10px;
    transition: 0.5s;
}
.reducedImages:hover {
    transform: scale(3);
}
.education {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
.contacts {
    text-align: center;
    width: 100%;
    margin: 0 auto;

}
.conticons {
    
}
.contIco {
    width: 50px;
    height: 50px;
}
.conticons a {
    width: 350px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0 50px;
}